<!DOCTYPE html>
<html lang="en" ng-app="connect4">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Connect 4</title>

    <link type="text/css" rel="stylesheet" href="/assets/style.css" media="screen">
  </head>
  <body>

    <div class="container">

      <h1>Connect 4</h1>

      <div id="application" ng-controller="c4.main">

        <div class="grid">
          <div class="row" ng-repeat="(col, array) in matrix" ng-click="makeMove(col)" id="{{col}}">
            <div class="puck player{{puck}}" ng-repeat="puck in array track by $index"></div>
          </div>
        </div>

      </div>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/lodash/lodash.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/two.js/build/two.min.js"></script>
    <script type="text/javascript" src="/assets/app.js"></script>
  </body>
</html>
